@import "../../styles/variables";

.flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.amountGroup {
  position: relative;
  height: 70vh;
  background: $--green-main;
  color: $--amber-text;
  padding: 30px 200px;
}
.amountGroupContent {
  background-image: url(../../assets/world-map.svg);
  background-position: center;
  background-size: cover;
  width: 70%;
  height: 90%;
}
.totalAmount {
  font-weight: 800;
  font-size: 75px;
}
.amountTitle {
  font-weight: 800;
  font-size: 45px;
}

@media (max-width: 1270px) {
  .amountGroupContent {
    width: 100%;
    height: 90%;
  }
  .totalAmount {
    font-size: 70px;
  }
  .amountTitle {
    font-size: 30px;
  }
}

@media (max-width: 950px) {
  .amountGroup {
    padding: 30px 100px;
  }
  .amountGroupContent {
    width: 75%;
    height: 70%;
  }
  .totalAmount {
    font-size: 55px;
  }
  .amountTitle {
    font-size: 26px;
  }
}

@media (max-width: 750px) {
  .amountGroup {
    padding: 30px 70px;
  }
  .amountGroupContent {
    width: 90%;
    height: 70%;
  }
}

@media (max-width: 633px) {
  .amountGroup {
    padding: 30px 30px;
    height: 60vh;
  }
  .amountGroupContent {
    width: 70%;
    height: 60%;
  }
  .totalAmount {
    font-size: 40px;
  }
  .amountTitle {
    font-size: 20px;
  }
}

@media (max-width: 510px) {
  .amountGroup {
    padding: 30px 30px;
    height: 50vh;
  }
  .amountGroupContent {
    width: 100%;
    height: 75%;
  }
  // .totalAmount {
  //   font-size: 40px;
  // }
  // .amountTitle {
  //   text-align: center;
  // }
}