// Переменные

$gree-main: #009f70; // зеленые секции и шрифты
$light-main: #ffffff; // белые секции
$dark-titles: #111111; // Для заголовков
$dark-text: #0f172a; // для обычного текста
$blue-text: #2563eb82; // для текста с подчетами
$blue-counter: #2563eb; // для самих подчетов
$black-main: #000000; // просто черный цвет (для волн и т.д)
