@import "../../styles/variables";
.footer {
  padding: 200px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav > ul {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    a {
      font-size: 24px;
      font-weight: 600;
      line-height: 34px;
      letter-spacing: 0em;
      text-align: left;
      color: $--dark-text;
    }
  }
}
