@import "../../styles/variables";

#CounterCards {
  #container {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .infoBlock {
    h1 {
      color: $--dark-text;
      font-size: 40px;
      font-weight: 700;
      line-height: 95px;
      letter-spacing: 0em;
      @media screen and (max-width: 571px) {
        font-size: 50px;
        line-height: 50px;
      }
    }
    .cards {
      display: flex;
      flex-wrap: wrap;
      max-width: 800px;
      gap: 30px;

      .infoCards {
        h6 {
          color: $--dark-text;
          font-size: 24px;
          font-weight: 700;
          line-height: 38px;
          letter-spacing: 0em;
        }
      }
    }
  }
}
